.input__options {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: gray;
    padding: 10px;
    cursor: pointer;
}

.input__options:hover {
    background-color: whitesmoke;
    border-radius: 10px;
}

.input__options > h4 {
    margin-left: 10px;
}